.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
	background-color: #f2f2f2;
	color: #000;
}
a,a:hover,a:visited,a:active {
	color: #4492ec;
	text-decoration: none;
}
.cf {
	.clearfix();
}
.fl{
	float: left;
}
.fr {
	float: right;
}
.shu {
	width:0;
	height:0.373333rem;
	border-left:2px solid #000;
	margin: 0 0.133333rem;
}
.black {
	color: #000 !important;
}
.gray {
	color: #888 !important;
}
.green {
	color: #8ec73f !important;
}
.userimg {
	background-size:contain;
}
.tags {
	margin-top: 0.4rem;
	.tag {
		display: inline-block;
		border:2px solid #3587e7;
		padding: 0.2rem 0.346667rem;
		color: #3587e7;
		border-radius: 0.373333rem;
		margin: 0 0.133333rem 0.066667rem 0;
	}
}
.line50 {
	line-height: 0.666667rem;
}
.mb40 {
	margin-bottom: 0.533333rem;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 133.333333rem;
}
.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 0.4rem;
}

.media-left,
.media > .pull-left {
  padding-right: 0.4rem;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 0.066667rem;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

.media-left {
	position: relative;
}
.media-body {
	.media-heading {
		line-height: 0.506667rem;
	}
	p {
		line-height: 0.506667rem;
	}
}
.panel-text {
 	h3 {
 		color: #888;
 		font-size: 0.346667rem;
 	}
 	line-height: 0.48rem; 
}
.level {
	position: absolute;
}
.cell {
	.h5-panel {
		background-color: #fff;
		padding:0.4rem;
		border-top: 1px solid #c9c9c9;
		&:first-child {
			border-top:0;
		}
	}
	.h5-panel-title {
		color: #000;
		line-height: 0.4rem;
		margin:0.106667rem 0 0.133333rem 0;
	}
}
.h5-ttp {
	color: #888;
	line-height: 0.586667rem;
}
.detail-info-list {
	li {
		.clearfix();
		line-height: 0.4rem;
		margin: 0.15rem 0;
		> span {
			float: left;
			width: 7.2rem;
			&:first-child {
				width: 1.733333rem;
				color: #888;
			}
		}
	}
}
.h3-title {
	line-height: 1.173333rem;
	padding: 0 0.466667rem;
}
.btmfixed {
	height: 1.333333rem;
	width: 100%;
	> a {
		height: 1.333333rem;
		line-height: 1.333333rem;
		text-align: center;
		background-color: #4492e7;
		display: block;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		color: #fff;
		font-size: 0.48rem;
	}
}
[data-dpr="1"] {
	body,.fz26 {
		font-size: 13px;
	}
	.fz30 {
		font-size: 15px;
	}
	.h5-title {
		font-size: 15px;
	}
}
[data-dpr="2"]{
    body,.fz26 {
		font-size: 26px;
	}
	.fz30 {
		font-size: 30px;
	}
	.h5-title {
		font-size: 30px;
	}
}
[data-dpr="3"]{
    body,.fz26 {
		font-size: 39px;
	}
	.fz30 {
		font-size: 45px;
	}
	.h5-title {
		font-size: 45px;
	}
}