@import "modules/lib-flexible.less";
@ppr:750/18.75/1rem;
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
html {
	background-color: #f2f2f2;
}
body {
	color: #000;
	max-width: 750px;
	margin: 0 auto;
}
a,a:hover,a:visited,a:active {
	color: #4492ec;
	text-decoration: none;
}
.cf {
	.clearfix();
}
.fl{
	float: left;
}
.fr {
	float: right;
}
.shu {
	width:0;
	height:30/@ppr;
	border-left:2px solid #888;
	margin: 0 5/@ppr;
}
.black {
	color: #000 !important;
}
.gray {
	color: #888 !important;
}
.green {
	color: #8ec73f !important;
}
.userimg {
	background-size:contain;
}
.tags {
	margin-top: 30/@ppr;
	.tag {
		display: inline-block;
		border:2px solid #3587e7;
		padding: 15/@ppr 26/@ppr;
		color: #3587e7;
		border-radius: 28/@ppr;
		margin: 0 10/@ppr 5/@ppr 0;
	}
}
.line50 {
	line-height: 50/@ppr;
}
.mb40 {
	margin-bottom: 40/@ppr;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 999999px;
}
.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 30/@ppr;
}

.media-left,
.media > .pull-left {
  padding-right: 30/@ppr;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5/@ppr;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

.media-left {
	position: relative;
}
.media-body {
	p {
		line-height: 35/@ppr;
	}
}
.panel-text {
 	h3 {
 		color: #888;
 		font-size: ;
 	}
 	line-height: 36/@ppr; 
}
.level {
	position: absolute;
}
.cell {
	.h5-panel {
		background-color: #fff;
		padding:30/@ppr;
		border-top: 1px solid #c9c9c9;
		&:first-child {
			border-top:0;
		}
	}
	.h5-panel-title {
		color: #000;
		line-height: 30/@ppr;
		margin:8/@ppr 0 10/@ppr 0;
	}
}
.h5-ttp {
	color: #888;
	line-height: 44/@ppr;
}
.detail-info-list {
	li {
		.clearfix();
		margin: 10/@ppr 0;
		> span {
			float: left;
			width: 540/@ppr;
			&:first-child {
				width: 130/@ppr;
				color: #888;
			}
		}
	}
}
.h3-title {
	line-height: 88/@ppr;
	padding: 0 35/@ppr;
}
.btmfixed {
	height: 100/@ppr;
	width: 100%;
	> a {
		height: 100/@ppr;
		line-height: 100/@ppr;
		text-align: center;
		background-color: #4492e7;
		display: block;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		color: #fff;
		font-size: 36/@ppr;
	}
}
body {
	font-size: 26/@ppr;
}
.fz26 {
	font-size: 26/@ppr !important;
}
.fz30 {
	font-size: 30/@ppr !important;
}
.h5-title {
	font-size: 30/@ppr;
}
[data-dpr="2"]{
    body {
		font-size: 26px;
	}
	.fz26 {
		font-size: 26px !important;
	}
	.fz30 {
		font-size: 30px !important;
	}
	.h5-title {
		font-size: 30px;
	}
}
[data-dpr="3"]{
    body {
		font-size: 39px;
	}
	.fz26 {
		font-size: 39px !important;
	}
	.fz30 {
		font-size: 45px !important;
	}
	.h5-title {
		font-size: 45px;
	}
}